<!DOCTYPE html>
<html>

<head>
    <%- include('./../common/header.ejs') %>
    <%- include('./modal-crud-script.ejs') %>
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <div id="content-wrapper" class="d-flex flex-column">
            <%- include('./../common/sidebar.ejs') %>
            <div>
                <%- include('./table-show.ejs') %>
                <%- include('./table-modal-detail.ejs') %>                
                <%- include('./table-modal-edit.ejs') %>
                <%- include('./table-modal-add.ejs') %>
                <%- include('./table-modal-delete.ejs') %>
                <%- include('./table-modal-active.ejs') %>
                <%- include('./table-script.ejs') %>
            </div>
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Tabla Rasa 2020</span>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <!-- End of Page Wrapper -->

    <%- include('./../common/scroll-to-top.ejs') %>
    <%- include('./../common/logout-modal.ejs') %>

    <%- include('./../common/import-js.ejs') %>
</body>

</html>